<div class="area_gracias_registrarce">
	<p class="titulo_gracias">
		Se ha restaurado tu contraseña exitosamente
	</p>
	<p class="especificacion">
		Por favor, cambia la clave apenas te llegue el correo para que puedas acceder.
	</p>
	<a href="/">
		<div id="boton_gracias_registro">
			Continuar
		</div>
	</a>
</div>