<h1>Listing odontologos</h1>

<table id="odontologos-table">
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Correo</th>
    <th>Especialidad</th>
    <th>Clave</th>
    <th>Celular</th>
    <th>Telefono</th>
    <th>Direccion</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Odontologo</a>