<div class="wrapper_registro naranja">
	<h1 class="azul_oscuro titulo_registro">Registro Pacientes Nuevos</h1>
	<div class="content_registro_form">
			
			<%= render 'form' %>

			<%= link_to '¿Eres Odontologo?', new_odontologo_path , :class =>'centrar_registro_campos url_odontologo'%>

	</div>


</div>

