<div class="area_datos_generales">
	<p class="titulo">
		nosotros
	</p>
	<p class="especificacion">
		

1. Introducción
 <br><br>
odontocitas.com esta comprometido con el respeto de los derechos de privacidad de nuestros clientes, visitantes y otros usuarios de los servicios (“Servicios”) de odontocitas.com que se ofrecen a través de la página de internet de odontocitas.com (el Sitio). Hemos creado este Sitio
de Políticas de Privacidad (“Políticas de Privacidad”) para brindarle mayor confianza mientras Usted visita y usa el Sitio y para demostrarle nuestro compromiso con las prácticas justas de manejo de la información y protección de la privacidad. Las Políticas de Privacidad son solo
aplicables al sitio, y no a otras páginas de internet que Usted puede acceder por medio del sitio o alguna otra página de internet que pertenezca a los socios de odontocitas.com, cada una de las cuales puede contener datos y tener distintas prácticas y políticas que difieran notoriamente de
esta Política de Privacidad. Su uso de este Sitio es gobernado por esta Política de Privacidad y los Términos y Condiciones. Si Usted está registrando una cuenta ó usando el Sitio en nombre de un individuo ó entidad diferente a Usted, Usted acepta que esta autorizado por dicho individuo ó entidad para aceptar las Políticas de Privacidad en nombre de dicho individuo ó entidad.
<br><br><br>
2. La información que recibamos:
 <br><br>
Recabamos información de identificación personal (IP) que es cedida voluntariamente durante el proceso de registro o en respuesta a requerimientos explícitos presentados por odontocitas.com.
 <br><br>
También podemos recabar su dirección de IP (Internet Protocol) para ayudar a diagnosticar problemas con nuestro servidor, y para administrar el Sitio. Una dirección de IP es un número que se le asigna a su computadora cuando usa internet. Su dirección de IP también es utilizada para ayudar a identificarle dentro de una sesión particular y para recolectar información demográfica general.
 <br><br>
Para ofrecer el Servicio completo de pedir citas odontológicas por internet, el Sitio puede solicitar la siguiente información: Nombre y apellido, dirección, dirección de e-mail, fecha de nacimiento, genero y número celular
 <br><br>
Se establece que en cualquier momento los Usuarios de odontocitas.com podrán solicitar la baja de su cuenta e información de la base de datos de odontocitas.com.
 <br><br>
odontocitas.com recoge y almacena automáticamente cierta información sobre la actividad de los Usuarios dentro de nuestro Sitio web. Tal información puede incluir la URL de la que provienen (estén o no en nuestro Sitio web), a qué URL acceden seguidamente (estén o no en nuestro
Sitio web), qué navegador están usando, así como también las páginas visitadas, las búsquedas realizadas, las publicaciones, compras o ventas, mensajes, etc.
 <br><br><br>
3. Uso que hacemos de la información:
 <br><br>
Para suministrar un excelente servicio y para que los Usuarios puedan realizar operaciones en forma ágil y segura, odontocitas.com requiere ciertos datos de carácter personal. La recolección de información nos permite ofrecerles servicios y funcionalidades que se adecuan mejor a sus
necesidades. Asimismo le permite a odontocitas.com hacerle llegar por distintos medios y vías (incluyendo mail, SMS, etc.) información de ofertas, de productos y servicios que creemos pueden serle de interés. Los Datos Personales que recabamos tienen las siguientes finalidades:
 <br><br>
Ponernos en contacto directo con Usted cada vez que odontocitas.com lo considere conveniente con el fin de ofrecerle por distintos medios y vías (incluyendo mail, SMS, etc.) ofertas, productos y/o servicios.
Desarrollar estudios internos sobre los intereses, el comportamiento y la demografía de los Usuarios con el objetivo de comprender mejor sus necesidades e intereses y darle un mejor servicio o proveerles información relacionada.
Mejorar nuestras iniciativas comerciales y promocionales para analizar las páginas más visitadas por los Usuarios, las búsquedas realizadas, perfeccionar nuestra oferta de contenidos, personalizar dichos contenidos, presentación y servicios.
Enviar información o mensajes sobre nuevos productos y/o servicios, mostrar publicidad o promociones, banners, de interés para nuestros Usuarios, noticias sobre odontocitas.com, además de toda otra información que creamos conveniente. Si el Usuario lo prefiere, puede solicitar que lo excluyan de las listas para el envío de información promocional o publicitaria.
Compartir los Datos Personales con empresas de servicios o empresas de "outsourcing" que contribuyan a mejorar o a facilitar las operaciones a través de odontocitas.com, como (sin limitarse a) medios de pago, seguros o intermediarios en la gestión de pagos, entre otros. Estas compañías o sitios de Internet generalmente tienen políticas sobre confidencialidad de la información similar a las nuestras. Sin embargo, odontocitas.com velará porque se cumplanciertos estándares, mediante la firma de acuerdos o convenios cuyo objeto sea la privacidad de los Datos Personales de nuestros Usuarios. No obstante, odontocitas.com no se hace responsable por el uso indebido de los Datos Personales del Usuario que hagan estas compañías o sitios de Internet. En algunos casos, estos proveedores de servicios serán quienes recojan información directamente del Usuario (por ejemplo si les solicitamos que realicen encuestas o estudios). En tales casos, recibirá una notificación acerca de la participación de un proveedor de servicios en tales actividades, y quedará a discreción del Usuario toda la información que quiera brindarle y los usos adicionales que los proveedores decidan hacer. En caso de que Ud. facilite, por propia iniciativa información adicional a dichos prestadores de servicios directamente, tales prestadores usarán esa información conforme a sus propias políticas de privacidad.
Suministrar los Datos Personales de los Usuarios a las entidades que intervengan en la resolución de disputas entre los mismos, tales como: Compañías de Seguros o tribunales competentes para solucionar tales disputas.
 <br><br><br>
4. Confidencialidad de la información:
 <br><br>
Los datos de los Usuarios serán suministrados únicamente por odontocitas.com en las formas establecidas en estas Políticas de Privacidad. odontocitas.com hará todo lo que esté a su alcance para proteger la privacidad de la información. Puede suceder que en virtud de órdenes judiciales, o de regulaciones legales, odontocitas.com se vea compelido a revelar información a las autoridades o terceras partes bajo ciertas circunstancias, o bien en casos que terceras
partes puedan interceptar o acceder a cierta información o transmisiones de datos en cuyo caso odontocitas.com no responderá por la información que sea revelada.
 <br><br><br>
5. Menores de edad:
 <br><br>
Nuestros servicios sólo están disponibles para aquellas personas que tengan capacidad legal para contratar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de suministrar información personal para ser incluida en nuestras bases de datos. Sin embargo, pueden hacerlo a través de los padres, tutores o curadores, conforme lo establecido en nuestros Términos y Condiciones.
 <br><br><br>
6. Cookies:
 <br><br>
El Usuario del Sitio web de odontocitas.com conoce y acepta que odontocitas.com podrá utilizar un sistema de seguimiento mediante la utilización de cookies (las "Cookies"). Las Cookies son pequeños archivos que se instalan en el disco rígido, con una duración limitada en el tiempo que ayudan a personalizar los servicios. También ofrecemos ciertas funcionalidades que sólo están disponibles mediante el empleo de Cookies. Las Cookies se utilizan con el fin de conocer los intereses, el comportamiento y la demografía de quienes visitan o son visitantes de nuestro Sitio web y de esa forma, comprender mejor sus necesidades e intereses y darles un mejor servicio o proveerle información relacionada. También usaremos la información obtenida por intermedio de las Cookies para analizar las páginas navegadas por el visitante o Usuario, las búsquedas realizadas, mejorar nuestras iniciativas comerciales y promocionales, mostrar publicidad o promociones, banners de interés, noticias sobre odontocitas.com, perfeccionar nuestra oferta de contenidos y artículos, personalizar dichos contenidos, presentación y servicios. Adicionalmente odontocitas.com utiliza las Cookies para que el Usuario no tenga que introducir su clave tan frecuentemente durante una sesión de navegación, también para contabilizar y corroborar las registraciones, la actividad del Usuario y otros conceptos y acuerdos comerciales, siempre teniendo como objetivo de la instalación de las Cookies, el beneficio del Usuario que la recibe, y no será usado con otros fines ajenos a odontocitas.com. Se establece que la instalación, permanencia y existencia de las Cookies en el computador del Usuario o del visitante depende
de su exclusiva voluntad y puede ser eliminada de su computador cuando así lo desee. Para saber cómo quitar las Cookies del sistema es necesario revisar la sección Ayuda (Help) del navegador.
También, se pueden encontrar Cookies u otros sistemas similares instalados por terceros en ciertas páginas de nuestro Sitio. odontocitas.com no controla el uso de Cookies por terceros.
 <br><br><br>
7. E-mails:
 <br><br>
Podemos enviarle e-mails con los siguientes propósitos:
 <br><br>
Como parte del Servicio. Por ejemplo, le enviaremos (o podríamos enviarle) e-mails en las siguientes circunstancias:
Luego del registo, notificándole los datos de su cuenta.
E-mails con recordatorios de los servicios que ofrecemos (especialmente aquellos que aun no haya utilizado o no haya utilizado en un tiempo considerable).
Para enviar información sobre las ofertas del día que haya pedido.
• Como parte de un Newsletter
• Como e-mails promocionales
• Para ofrecer servicios relacionados
• De todas maneras, en cada uno de los e-mails que enviamos siempre ofreceremos la posibilidad de cancelar la suscripción (opt-out) para dejar derecibire-mails en el futuro.
 <br><br><br>
8. Seguridad y almacenamiento:
 <br><br>
Empleamos diversas técnicas de seguridad para proteger tales datos de accesos no autorizados por visitantes del Sitio de dentro o fuera de nuestra compañía. Sin embargo, es necesario tener en cuenta que la seguridad perfecta no existe en Internet. Por ello, odontocitas.com no se hace responsable por interceptaciones ilegales o violación de sus sistemas o bases de datos por parte de personas no autorizadas. odontocitas.com, tampoco se hace responsable por la indebida utilización de la información obtenida por esos medios.
<br><br><br>
 
9. Transferencia en circunstancias especiales:
 <br><br>
Si existe una venta, una fusión, consolidación, cambio en el control societario, transferencia de activos sustancial, reorganización o liquidación de odontocitas.com entonces, en nuestra discreción, podemos transferir, vender o asignar la información recabada en este Sitio a una o más partes relevantes.

 <br><br><br>
10. Servicio al cliente:
 <br><br>
Si tiene alguna duda o preocupación no dude en contactarse con nuestro servicio al cliente: servicioalcliente@odontocitas.com

 <br><br><br>
11. Modificaciones a las políticas de seguridad:
 <br><br>
odontocitas.com podrá modificar en cualquier momento los términos y condiciones de estas Políticas de Privacidad y confidencialidad. Cualquier cambio será efectivo apenas sea publicado en el Sitio. Dependiendo de la naturaleza del cambio podremos anunciar el mismo a través de: (a) la página de inicio del Sitio, o (b) un e-mail. De todas maneras, el continuo uso de nuestro Sitio implica la aceptación por parte del Usuario de los Términos de esta Política de Privacidad.
Si Ud. no está de acuerdo con la Política de Privacidad vigente absténgase de utilizar el Sitio.

	</p>

</div>