<div class="area_datos_generales">
	<p class="titulo">
		Términos y condiciones
	</p>
	<p class="especificacion">
		
Los siguientes términos y condiciones constituyen el acuerdo entre usted y Colmedia Comunicaciones SAS, el operador de odontocitas.com (la página web). Estos términos y condiciones gobiernan el uso que usted le da a esta página como visitante casual y/o como usuario registrado.
 <br>
Al usar este sitio y/o estar registrado como usuario, usted declara estar de acuerdo con los términos y condiciones, incluyendo la aceptación del manejo de la información revelada en nuestra Política de Privacidad y adherida en este texto a manera de referencia.
 <br>
 <br> <br>
1. Acerca del Sitio
 <br> <br>
En este documento, la página web odontocitas.com también es referida como el “Sitio” o “nuestra página web” indiferentemente. Todo lo que ofrecemos en el Sitio constituye los términos de uso colectivamente nombrados como “Servicios”. Alguna parte de la información que se puede observar en esta página web está disponible sin la necesidad de registrarse con odontocitas.com, pero para participar activamente y brindar información, usted debe registrarse como un miembro de la comunidad odontocitas.com y autorizar el uso de su información personal y de salud con el propósito de permitirnos proveer los Servicios bajo nuestra Política de Privacidad.
 <br> <br>
Usted reconoce que aunque el contenido, texto, datos, gráficas, imágenes, información, sugerencias, guías y otros materiales compartidos con usted pueden ser proveídos por personas relacionadas con la profesión de la odontología, dicha información no crea una relación odontólogo/paciente, tampoco constituye una opinión, un consejo médico, diagnóstico o un tratamiento de ninguna clase. Sin embargo, odontocitas.com le proporciona ayuda para localizar la asistencia odontológica apropiada por parte de un odontólogo calificado.
 <br> <br>
odontocitas.com no adeuda la realización de la prestación de una cita odontológica, solamente ayudar a facilitar que el odontólogo que usted seleccionó realice una cita odontológica.
 <br> <br>
Los odontólogos y especialidades odontológicas que se encuentran en odontocitas.com se fundamentan en la calidad del Servicio que ofrecemos y es la opción de cada usuario escoger la especialidad que crea más conveniente.
 <br> <br>
Mediante la confirmación del campo “acepto los términos y condiciones” en el proceso de pedir una cita a través de odontocitas.com, quedarán aceptadas las condiciones de uso de odontocitas.com. En tal caso, Usted aprueba que nosotros - odontocitas.com - usemos nuestro Servicio como reconocimiento de los términos y condiciones de uso. Estos términos y condiciones de uso podrán ser consultados, imprimidos o grabados localmente en cualquier momento a través de http://www.odontocitas.com/terminos_y_condiciones.html. <br>
Los actos que realicen los menores de edad en el Sitio serán responsabilidad de sus padres, tutores, encargados o curadores, y por tanto se considerarán realizados por éstos en ejercicio de la representación legal con la que cuentan.<br>
Para pedir una cita en el Sitio, los Usuarios Registrados deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica. Para mayor información sobre la privacidad de los Datos Personales y casos en los que será revelada la información personal, se pueden consultar nuestras Políticas de Privacidad en cualquier momento bajo http://www.odontocitas.com/politica_de_privacidad.html. odontocitas.com podrá adaptar estas condiciones de uso ocasionalmente, por ejemplo, para poner en práctica exigencias jurídicas o para tener en cuenta modificaciones en el funcionamiento del Sitio. Encontrará las condiciones de uso vigentes en cada momento bajo http://www.odontocitas.com/terminos-y-condiciones.html. En caso de que no estuviera de acuerdo con las modificaciones de nuestras condiciones de uso, lamentablemente ya no podrá hacer uso de nuestro Servicio.
En caso de que disposiciones concretas de los Términos y Condiciones del Sitio con el visitante casual ó el usuario registrado fueran ineficaces en todo ó en parte, ello no afectará la eficacia del resto del contrato. Este acuerdo estará regido en todos sus puntos por las leyes vigentes en Colombia, las cuales podrán ser consultadas en el siguiente sitio: http://www.ramajudicial.gov.co.
 <br> <br>
De igual forma cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometida a los tribunales ordinarios del Distrito Capital.<br>
 <br>
La página web Odontocitas así como el sistema de pedir citas odontológicas en dicha página son gestionados por:
COLMEDIA COMUNICACIONES S.A.S. <br>
E-mail: info@colmedia.com.co<br>
 <br><br> <br>
2. No Proveemos Asesoria Odontologica
 <br> <br>
La información que usted obtiene y recibe de odontocitas.com y sus empleados, contratistas, socios, inversionistas, patrocinadores, anunciantes en este sitio es únicamente para propósitos de información y pedir citas odontológicas.
 <br> <br>
LA INFORMACIÓN QUE SE MUESTRA EN ESTA PAGINA WEB NO PRETENDE SER SUBSTITUTA, NI REMPLAZAR UNA ASESORIA ODONTOLOGICA PROFESIONAL, DIAGNOSTICO, O TRATAMIENTO. NO OBSTACULIZA, NI RETRASA EL OBTENER ASESORIA ODONTOLOGICA POR PARTE DE UN ODONTOLOGO CALIFICADO POR ALGO QUE USTED PUDO HABER LEIDO EN LA PAGINA WEB. NO USE ESTA PAGINA WEB PARA EMERGENCIAS MEDICAS. SI USTED TIENE UNA EMERGENCIA MEDICA POR FAVOR LLAME A LA LINEA 123.
 <br> <br>
odontocitas.com no recomienda ni promueve ningún test específico, procesos, opiniones, u otra información que pueda aparecer en el Sitio. Si usted confía en cualquier tipo de información revelada por el Sitio lo hará a su propio riesgo.
 <br> <br> <br>
3. Ninguna Relacion Paciente/odontologo
 <br> <br>
No se establece ninguna relación paciente/odontólogo al usar información dada por, o encontrada en el Sitio, incluyendo pero no limitada a las características de búsqueda del odontólogo, links a otros sitios o cualquier asistencia que odontocitas.com pueda proveer para ayudar a que Usted pueda encontrar el odontólogo que más le conviene.<br> <br>
odontocitas.com no tiene control ni puede garantizar la disponibilidad de los odontólogos a cualquier hora en particular. odontocitas.com no será obligado por cancelación o incumplimiento de citas o cualquier perjuicio que resulte de ellas o cualquier otro perjuicio que resulte del uso del sitio o cualquiera de sus servicios.<br> <br>
Se recomienda de forma enfática que Usted realice su propia investigación antes de seleccionar su odontólogo por medio de llamadas o correos para confirmar la veracidad y credenciales de la información del odontólogo.
 <br><br> <br>
4. Autorizacion y Reconocimiento
 <br> <br>
En relación con el uso del Sitio y sus servicios para localizar y pedir citas con odontólogos profesionales Usted entiende que:
odontocitas.com selecciona los odontólogos que serán listados en el sitio, de acuerdo a un acuerdo pre-existente con los odontólogos;
En adición a la firma del contrato, los odontólogos deben pagar una subscripción al servicio que presta odontocitas.com con el fin de aparecer en el Sitio de odontocitas.com;<br> <br>
odontocitas.com le proveerá un listado de odontólogos que pueden ajustarse a la atención odontológica que Usted está buscando, según la información que Usted le provea a odontocitas.com (tal como ubicación geográfica, EPS, prepagada, o algún otro criterio que usted haya especificado). Usted es el responsable de escoger su propio odontólogo;<br> <br>
odontocitas.com se reserva el derecho invitar a utilizar su Servicio solo a odontólogos que mantengan licencias odontológicas y las calificaciones necesarias para participar en la oferta de Servicios ofrecidas por odontocitas.com y que sigan calificados para la prestación de tal atención odontológica.
 <br><br> <br>
5. Control Editorial
 <br> <br>
odontocitas.com hace disponible este Sitio a consumidores y odontólogos profesionales con el propósito de ofrecer recursos informativos y educacionales. odontocitas.com puede, aunque no tiene obligación, revisar la información publicada por no-usuarios a través del personal de edición del Sitio.<br> <br>
Es importante anotar, sin embargo, que los horarios y la exactitud de parte o de toda la información no se garantiza. Ni los autores, ni el personal editorial, ni ninguna otra parte que ha estado involucrada en la preparación o publicación de este trabajo podrá asegurar que la información contenida en el Sitio en cada aspecto es correcta y exacta y no son responsables por errores u omisiones o de los resultados obtenidos por el uso de dicha información.<br> <br>
INFORMACION DEL ODONTOLOGO: La información del odontólogo que se encuentra en el Sitio se ofrece para propósitos de referencia únicamente. La información encontrada en el sitio es diligenciada por cada odontólogo y recolectada por múltiples fuentes que pueden ser no confirmadas por el odontólogo. Esta información cambia constantemente y puede estar desactualizada o incorrecta. odontocitas.com no provee ningún tipo de certificado o licencia para ningún odontólogo.<br> <br>
PROCESOS/PRODUCTOS/SERVICIOS: odontocitas.com puede promocionar dentro del Sitio procesos, productos y servicios que no son necesariamente aplicables a todas las situaciones individuales de pacientes u odontólogos. No garantizamos la efectividad de tales procesos, productos o servicios. Cualquier producto ó servicio presentado en el Sitio por patrocinadores, anunciantes u otros participantes del Sitio ya sea pago o no pago, son presentados para su conocimiento y no necesariamente garantizan ser efectivos para ningún individuo, ni mostrar resultados positivos o de éxito.     
<br><br> <br>
6. Registro
<br> <br>
Como parte del proceso de registro, Usted proveerá su email y creará una clave. Estas son sus credenciales para acceder a los Servicios que son solo disponibles para los miembros (“credenciales”) de odontocitas.com. Usted deberá mantener sus credenciales de forma privada y no compartirlas con ninguna otra persona. Usted es responsable de notificarnos si su clave ha sido hackeada o robada. En tal caso usted deberá notificarnos por medio de un correo a servicioalcliente@odontocitas.com.
 <br><br> <br>
7. Informacion Personal
 <br> <br>
Para registrarse usted deberá proveer cierta información suya odontológica y personal. Usted podrá voluntariamente enviarla y autorizar a odontocitas.com, sus empleados, agentes, y otros operadores pertenecientes a odontocitas.com para usar y revelar información personal y odontológica acerca de Usted, incluyendo sin limitar su nombre, dirección, número de identificación e información de contacto; historia odontológica; necesidades odontológicas actuales; y cualquier información que puede ser requerida por odontocitas.com u ofrecida por usted. Usted tiene el derecho de negar la autorización del uso y/o revelar su información personal. Sin embargo, si Usted ejerce este derecho no podrá utilizar algunas de las características y servicios de este Sitio.<br> <br>
La Política de Privacidad de odontocitas.com explica las prácticas relacionadas con el manejo de la información relacionada con Usted. 
 <br><br> <br>
8. Sus Responsabilidades:
 <br> <br>
Aunque los servicios que se prestan en este Sitio no tienen costo, los cargos asociados a la prestación de un servicio odontológico por parte del odontólogo que Usted seleccione en el Sitio son responsabilidad suya.
Usted es responsable por el uso del Sitio y por todo el uso de sus credenciales, incluyendo el uso de otros a quienes usted les ha dado sus credenciales. Usted puede usar este Sitio y sus servicios para objetos legales sin fines de lucro únicamente. Usted no podrá usar este sitio de ninguna forma que afecte, inhabilite, sobrecargue nuestros servidores o redes, o interferir con el empleo de cualquier otro individuo en el uso del Sitio y sus Servicios.<br> <br>
Usted no podrá intentar hackear u obtener acceso a ninguno de los servicios, cuentas de usuarios, o sistemas de computadores o redes. 
Usted está de acuerdo que:<br> <br>
No copiará, ni modificará, ni adaptará, ni traducirá ninguna porción de este Sitio, su contenido o material y/o los Servicios;
No removerá ningún derecho de propiedad o marca registrada contenidas en o acerca del Sitio y/o los servicios, o en o sobre cualquier contenido o material obtenido vía el sitio o los servicios;   
No usará fraudulentamente los servicios para pedir citas con odontólogos los cuales usted no tiene intención de visitar o usar sus servicios;
No creará cuentas de usuarios por medios automáticos, o bajo pretextos falsos o fraudulentos;
No recogerá ó usará datos personales acerca otros usuarios en relación con las actividades prohibidas discutidas en este párrafo.
Adicionalmente a nuestros derechos en estos términos y condiciones de uso, podremos tomar cualquier acción legal e implementar cualquier recurso técnico para prevenir la violación de esta provisión y hacer cumplir estos términos y condiciones de uso. 
	</p>

</div>