<div class="area_gracias_registrarce">
	<p class="titulo_gracias">
		Tu registro ha sido exitoso
	</p>
	<p class="especificacion">
		Gracias por utilizar nuestro servicio, pronto nos contactaremos con usted, para que pueda disfrutar de la herramienta.
	</p>
	<a href="/">
		<div id="boton_gracias_registro">
			Continuar
		</div>
	</a>
</div>